
@{
    ViewBag.Title = "TppChess";
}

<h2>TppChess</h2>

<div ng-controller="ChessController">
    <table>
    </table>
    {{ 2 + 2 }}
    <h4>{{ status }}</h4>
</div>

<script src="~/App/Chess/ChessController.js"></script>