
@{
    ViewBag.Title = "TppChess";
}

<h2>TppChess</h2>

<div ng-controller="ChessController">
    <table>
        <tr ng-repeat="row in chessboardManager.chessboard">
            <td ng-repeat="piece in row track by $index">
                {{ piece }}
            </td>
        </tr>
    </table>
    <h4>{{ status }}</h4>
</div>

<script src="~/App/Chess/Model/Piece.js"></script>
<script src="~/App/Chess/Model/ChessboardManager.js"></script>
<script src="~/App/Chess/ChessController.js"></script>