@{
    ViewBag.Title = "TppChess";
}

<div ng-controller="ChessController">
    <table id="chessboard">
        <tr ng-repeat="(key, row) in chessboardManager.chessboard">
            <td>{{ chessboardManager.rows[chessboardManager.chessboardSize - 1 - key] }}</td>
            <td ng-repeat="piece in row track by $index">
                {{ piece.toString() }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td ng-repeat="columnName in chessboardManager.columns">
                {{ columnName }}
            </td>
        </tr>
    </table>
    <h4>{{ status }}</h4>
</div>

<script src="~/App/Chess/Model/Piece.js"></script>
<script src="~/App/Chess/Model/ChessboardManager.js"></script>
<script src="~/App/Chess/ChessController.js"></script>